body{
  min-height: 100%;
}

#container{
  background-color: white;
  box-sizing: content-box;
  width: 500px;
  height: 500px;
  border: 3px solid black;
  margin: 10px auto;
  display: flex;
  flex-flow: row wrap;
}


#container:hover {
    background-color:transparent;
  }


.row{
  box-sizing: border-box;
  border: 1px solid lightgray;
  flex: 1 10px;
}

.square{
  height: 10px;;
  background: red;
}

.square:hover {
    background-color: yellow;
  }

#button-holder{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}


button{
  font-size: 20px;
  padding: 7px 10px 7px 10px;
  width: 200px;
}

.colour-change{
  background-color: blue;
}